<ion-header>
  <div class="row">
    <ion-toolbar #searchBar>
      <ion-searchbar
        mode="ios"
        class="searchBar"
        showCancelButton
        [(ngModel)]="search"
        (ionChange)="onSearch()"
        (ionCancel)="hideSearch()">
      </ion-searchbar>
    </ion-toolbar>

    <ion-toolbar #navigator class="absolute">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="true" color="primary"></ion-menu-button>
      </ion-buttons>
      <ion-title>Socket.io</ion-title>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="showSearch()" size="small" color="primary">
          <ion-icon slot="icon-only" name="search-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content
  [fullscreen]="true"
  >
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="50" pullMax="100" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-row>
    <ion-col size="4"></ion-col>
    <ion-col size="4">
      Coming soon...
    </ion-col>
    <ion-col size="4"></ion-col>
  </ion-row>
</ion-content>
