<ion-header [translucent]="true">
  <div class="row">
    <ion-toolbar #searchBar>
      <ion-searchbar
        mode="ios"
        class="searchBar"
        showCancelButton
        [(ngModel)]="search"
        (ionChange)="onSearch()"
        (ionCancel)="hideSearch()">
      </ion-searchbar>
    </ion-toolbar>

    <ion-toolbar #navigator class="absolute">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="true" color="primary"></ion-menu-button>
      </ion-buttons>
      <ion-title>Settings</ion-title>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="showSearch()" size="small" color="primary">
          <ion-icon slot="icon-only" name="search-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content
  [fullscreen]="true"
  >
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="50" pullMax="100" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list lines="full" #list>
    <ion-item *ngFor="let it of items; index as i;" [routerLink]="[it.url]" mode="ios" class="op-0" lines="none">
      <ion-label>{{it.label}}</ion-label>
    </ion-item>
    <ion-item *ngIf="!items.length" mode="ios" class="op-0" lines="none">
      <ion-label>No result found!</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
