<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true" color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" pullFactor="1" pullMin="50" pullMax="100" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list lines="none" #list>

    <ion-card *ngFor="let it of cards" mode="ios">
      <!-- <ion-img src="https://ionicframework.com/docs/demos/api/thumbnail/thumbnail.svg"></ion-img> -->

      <ion-card-header>
        <ion-card-subtitle>{{it.subtitle}}</ion-card-subtitle>
        <ion-card-title>{{it.title}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>{{it.description}}</p>
        <ion-button color="primary" class="full-width" mode="ios" fill="outline" [href]="it.link">Know more</ion-button>
      </ion-card-content>

    </ion-card>

  </ion-list>

  <ion-card *ngIf="!cards.length" mode="ios">
    <!-- <ion-img src="https://ionicframework.com/docs/demos/api/thumbnail/thumbnail.svg"></ion-img> -->

    <ion-card-header>
      <ion-card-subtitle>
        <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
      </ion-card-subtitle>
      <ion-card-title>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        <ion-skeleton-text animated></ion-skeleton-text>
      </p>
      <ion-skeleton-text animated></ion-skeleton-text>
      <!-- <ion-button color="primary" class="full-width" mode="ios" fill="outline" href="https://www.youtube.com/watch?v=YwSzqeBchEc&t=537s">Know more</ion-button> -->
    </ion-card-content>

  </ion-card>

</ion-content>
