<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true" color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>Tab 3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="50" pullMax="100" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list lines="full" #list>
    <ion-item *ngFor="let it of cards; index as i;" mode="ios" class="op-0">
      <ion-thumbnail slot="start">
        <img src="assets/image/thumbnail.svg">
      </ion-thumbnail>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
