<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>About phone</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="50" pullMax="100" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list lines="full" #list>
    <ion-item *ngFor="let it of items; index as i;" mode="ios" class="op-0" lines="none">
      <ion-label>{{it.label}}</ion-label>
      <ion-note slot="end">{{it.note}}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
